#header{
    height: 100px;
    border-bottom: solid 4px #4E5166;
    border-bottom-left-radius: 10PX;
    border-bottom-right-radius: 10PX
    ;
}
.div-logo{
    height: 100px;
    display: flex;
    justify-content: center;

}

.groupo-logo{
    display: flex;
}

@media all and (max-width:530px){
    .groupo-logo{
        width: 90%;
    }
    .page-logout{
        width: 80%;
    }
}