::-webkit-input-placeholder { text-align:center; }
::-moz-placeholder { text-align:center; } /* firefox 19+ */
:-ms-input-placeholder { text-align:center; } /* ie */
input:-moz-placeholder { text-align:center; }


.page-inf-create{
    min-height: 100%;
    background-color: lavenderblush;
    padding-top: 200px;
}

.bloc-form{
    padding: 40px;
    width: 60%;
    margin: auto;
    border: 3px black solid;
    border-radius: 20px;
    box-shadow: 5px 5px 13px 3px #4e5166;
}

.div-elem-form, .form-group, .action{
    text-align: center;
    padding-bottom: 15px;
    overflow: hidden;
}

.input-form{
    border:0;
    width:100%;
    border-radius:25px;
    min-height: 30px;
}
.input-form2{
    border:0;
    width:100%;
    border-radius:15px;
    min-height: 100px;
    font-family: 'lato';
}




