.page-success{
    display: flex;
    justify-content: center;
    border: solid 2px #4E5166;
    border-radius: 10px;
    width: 500px;
    margin: 100px auto;
    

}
.bloc-success{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.button-return {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-return:active {
    top: 5px;
    left: 5px;
  }
  .page-create-full{
    height: 100%;
  }

  .page-create-no-header{
    height: 100%;
    background-color: lavenderblush;;
  }

  .bloc-success{
    background-color: gainsboro;
  }