.page-logout{
    display: flex;
    justify-content: center;
    border: solid 2px #4E5166;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    background-color: gainsboro;
}
.bloc-logout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-return{
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-infer{
    min-height: 100%;
    background-color: lavenderblush;
    padding-top: 100px;
}  

.button-logout {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-logout:active {
  top: 5px;
  left: 5px;
}