.modifiy-actual{
    display: flex;
    margin: 0px 15px 0px 15px
}

.send-btn-modify{
    margin-bottom:10px;
}

.titre-modify{
    width: 80%;
}

.textarea-modify{
        font-family: 'lato';
        width: 80%;
        min-height: 70px;
   
}

@media all and (max-width:850px){

    .bloc-form{
        padding:30px;
    }
    .modifiy-actual{
        flex-direction: column;
        align-items: center;
        margin: 10px 15px 10px 15px;
    }
    .bloc-form-modify{
        width: 80%;
    }

    .article-global-modify{
        margin-left: 0;
        width: 80%
    }
}