.article-global{
    padding-top: 30px;
    margin-top: 30px;
    margin-left:20px;
    width: 450px;
    border-top: solid 3px black;
}

.ensemble-posts{
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.article-titre{
    color:#FD2D01;
    overflow-wrap: break-word
}

.article-texte{
    text-align: justify;
    overflow-wrap: break-word
}
.image-solo{
    height: 300px;
    width: 100%;
    text-decoration: none;
}

.date{
    padding-bottom: 15px;
    border-bottom: solid 1px black;
}
.likes{
    display: flex;
    padding-top: 10px;
}
.article-like{
    padding-top: 5px;
}
.fa-thumbs-up{
    width: 15%;
}

.number-likes{
    align-items: flex-end;
    display: flex;
}