.article-global{
    padding-top: 30px;
    margin-top: 30px;
    margin-left:20px;
    width: 450px;
    border-top: solid 3px black;
}

.article-titre{
    color:#FD2D01;
    overflow-wrap: break-word
}

.article-texte{
    text-align: justify;
    overflow-wrap: break-word
}
.image-solo{
    object-fit: cover;
    text-decoration: none;
}

.date{
    padding-bottom: 15px;
    border-bottom: solid 1px black;
}
.article-like{
    padding-top: 5px;
}